
.custom-navbar {
    /* background-color: rgba(36, 45, 48, 0.873);  */
    background-color: #001529;
    padding: 0.8rem 1rem; 
  }
  
  .navbar-brand img {
    border-radius: 8px; 
  }
  
  .nav-link-custom {
    color: white !important; 
    font-size: large;
    font-weight: 500; 
    padding: 1rem 1rem; 
    text-decoration: none; 
    transition: background-color 0.3s, text-decoration 0.3s; 
  }
  
  .nav-link-custom:hover {
    color: rgb(168, 6, 149) !important; 
    text-decoration: underline;
  }
 
.hero-section {
    width: 100%;
    height: auto; 
    position: relative;
    overflow: hidden; 
  }
  
  .hero-image {
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover; 
  }
  



/**/
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.website-name {
    margin: 0;
    font-size: 1.45rem;
    font-weight: bold;
    /* color: #04e7cdfe; */
    color:  #28a745;
   
}

.icon {
    width: 30px;
    height: 30px;
    color: #555;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.2s;
}

.icon:hover {
    color: #007bff; /* Change color on hover */
}

  
  

  