/* .app{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header{
height: 50px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 4px 20px 4px 12px;
border-bottom: 1px solid rgb(0,0,0,0.17);

}

.footer{
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  
}

.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;

}

.sidebar{

}

.pagecontent{
padding-left: 12px;
} */


.hero-image {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.08));
  margin-top: 0;
  object-fit: cover; /* Ensures the image covers the container */
  z-index: 1; /* Layer below the content */
  opacity: 0.7; /* Optional: Slight transparency for overlay effect */
}

/* Hero Section */
.hero-section {

  z-index: 2; /* Keeps the content above the background image */
  overflow: hidden; /* Ensures no unwanted overflow */
}

.hero-section .z-3 {
  z-index: 2; /* Explicitly place the content above the image */
}

.hero-section h1 {
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7); /* Text visibility over the image */
}

